<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
<div class="sidebar-menu toggle-others fixed">

  <div class="sidebar-menu-inner">

    <header class="logo-env">

      <!-- logo -->
      <div class="logo">
        <a href="/index/index/page.html" class="logo-expanded">
          <img src="<%= require('V/xenon/images/logo@2x.png') %>" width="80" alt=""/>
        </a>

        <a href="/index/index/page.html" class="logo-collapsed">
          <img src="<%= require('V/xenon/images/logo-collapsed@2x.png') %>" width="40" alt=""/>
        </a>
      </div>

      <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
      <div class="mobile-menu-toggle visible-xs">
        <a href="#" data-toggle="user-info-menu">
          <i class="fa-bell-o"></i>
          <span class="badge badge-success">7</span>
        </a>

        <a href="#" data-toggle="mobile-menu">
          <i class="fa-bars"></i>
        </a>
      </div>

    </header>
    <% if (route.length) { %>
    <ul id="main-menu" class="main-menu">
      <% route.forEach(function(name, i){ %>
      <li class="<%= (i == 0) ? 'opened active' : '' %>">
        <a href="<%= name.url %>">
          <i class="<%= name.icon %>"></i>
          <span class="title"><%= name.title %></span>
        </a>
        <% if (name.list.length) { %>
        <ul>
          <% name.list.forEach(function(name){ %>
          <li>
            <% if (name.url) { %>
            <a href="<%= name.url %>">
              <span class="title"><%= name.title %></span>
            </a>
            <% } else { %>
            <a disabled="true" class="sidebar-menu-disabled">
              <span class="title"><%= name.title %></span>
            </a>
            <% } %>
          </li>
          <% }) %>
        </ul>
        <% } %>
      </li>
      <% }) %>
    </ul>
    <% } %>

  </div>

</div>
<style>
  #main-menu .sidebar-menu-disabled {
    color: #000;
  }
</style>
